$mainColor: #0097df;
$darkColor: #243a7f;
$dangerColor: #FF6766;
$successColor: #24cf5f;
$grayColor: #b9b9b9;
$darkColor2: #232f3e;

.colored {
    color: $mainColor !important;
}

.dark-colored {
    color: $darkColor !important;
}

.success-color {
    color: $successColor !important;
}

.danger-color {
    color: $dangerColor !important;
}

@mixin bgMain {
    background-color: $mainColor !important;
    border-color: $mainColor !important;
    color: #FFF !important;
}

@mixin bgDark2 {
    background-color: $darkColor2;
    border-color: $darkColor2;
    color: #FFF;
}

@mixin bgDark {
    background-color: $darkColor !important;
    border-color: $darkColor !important;
    color: #FFF !important;
}

@mixin bgDanger {
    background-color: $dangerColor !important;
    border-color: $dangerColor !important;
    color: #FFF !important;
}

@mixin bgSuccess {
    background-color: $successColor !important;
    border-color: $successColor !important;
    color: #FFF !important;
}

.required {
    color: $dangerColor !important;
}